.wrapper-forum {
  width: 80%;
  box-shadow: 0 10px 20px 0 #12263f0d;
  margin-left: auto;
  margin-right: auto;

  .wrapper-title {
    background-color: #5496d433;
    border-radius: 3px 3px 0 0;
    padding: 20px;

    .title {
      font-size: 14px;
      line-height: 16.94px;
      color: #3a4045;
      margin: 0;
    }
  }

  .forum-list {
    background-color: #fff;
    height: 100%;
    border-radius: 0 0 3px 3px;
    padding: 20px;
  }

  @media screen and (width <= 780px) {
    width: 100%;
  }
}
