.wrapper {
  flex: 1;
}
.wrapper .form {
  display: flex;
  flex-direction: column;
}

.form .input {
  height: 160px;
  resize: none;
  border-radius: 0;
}
.form .inputContainer {
  align-self: flex-end;
  margin-bottom: 0;
}

.form .button {
  border-radius: 2px;
  font-size: 12px;
  padding: 16px 41px;
}

.input {
  &::placeholder {
    padding: 20px 15px;
  }
}

@media (max-width: 400px) {
  .form .input {
    height: 97px;
  }
}
