@use '../../shared/lib/useStyles.module.scss' as *;

.newsSidebar {
  margin: 0;
}

.newsSidebar > div {
  @media screen and (width > 900px) {
    margin-left: auto;
    padding: 20px;
    padding-right: 0;
    width: 320px;
    height: auto;

    @include flex(column, start, 30px);

    background: white;
  }
}
